.App-link {
  color: #61dafb;
}

.login-signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

form {
  background: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
}

.main-index-sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  border: 1px solid black;
  padding: 25px;
}

.content-body {
  /* display: flex; */
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 65em; */
}
